<div class="d-flex flex-column m-5">
        <div class="d-flex w-100 justify-content-between mt-2">
          <div class="display-6">Holiday List View</div>

          <div class="buttongroup d-flex">
            <button mat-raised-button class="me-2 d-none d-md-flex" color="primary" routerLink="../">
              <mat-icon>calendar_month</mat-icon> Calendar View
            </button>
            <button mat-raised-button color="primary" class="d-none d-md-flex" (click)="addHoliday()">
              <mat-icon>add</mat-icon> Add Holiday
            </button>
      
            <button mat-fab class="me-2 d-flex d-md-none" color="primary" routerLink="../">
              <mat-icon>calendar_month</mat-icon>
            </button>
            <button mat-fab class="d-flex d-md-none" color="primary" (click)="addHoliday()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>



        <mat-form-field appearance="outline" class="mt-2">
            <mat-label>Search Holiday</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Event Name" #input>
          </mat-form-field>
        <div class="table">
              
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let row"> {{row.date}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="typeOfHoliday">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                    <td mat-cell *matCellDef="let row"> {{row.typeOfHoliday}} </td>
                  </ng-container>
              
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row"> 
                        
                        <button
                        mat-mini-fab
                        color="primary"
                        (click)="editHoliday(row)"
                        aria-label="Delete"
                        class="me-1"
                      >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button
                        mat-mini-fab
                        color="warn"
                        (click)="deleteHoliday(row)"
                        aria-label="Delete"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>

                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
              </div>
              

              
        </div>


  </div>
