<div class="mat-elevation-z8 example-container pt-3 pb-3">
  <!-- Use ngIf to check if dataSource.data is empty -->
  <ng-container *ngIf="dataSource.data.length === 0; else dataAvailable">
    <mat-card class="no-data-card">
      <mat-card-content>No Data Found</mat-card-content>
    </mat-card>
  </ng-container>

  <!-- If data is available, loop through and display individual cards -->
  <div class="card-container">
    <ng-container *ngFor="let element of obs | async">
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title>{{ element.typeOfLeave }}</mat-card-title>
          <mat-card-subtitle>Start Date: {{ element.startDate | date : "mediumDate" }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>End Date: {{ element.endDate | date : "mediumDate" }}</p>
          <p>Status: {{ element.status }}</p>
          <p>Reason: {{ element.reason }}</p>
        </mat-card-content>
        <mat-card-actions style="    justify-content: end;
        ">
  
          <button
          mat-mini-fab 
            color="primary"
            (click)="editLeave(element)"
            class="me-2"
            *ngIf="element.status === 'PENDING'"
          >
          <mat-icon>edit</mat-icon>
  
          </button>
          <button
          mat-mini-fab 
            color="warn"
          
            (click)="deleteLeave(element)"
            *ngIf="element.status === 'PENDING'"
          >
          <mat-icon>delete</mat-icon>
  
          </button>
          <button mat-icon-button color="warn" *ngIf="element.status==='CONFIRMED'">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button color="warn" *ngIf="element.status==='REJECTED'">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      
    </ng-container>
  </div>
    <mat-paginator
    [length]="dataSource.data.length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    showFirstLastButtons
  ></mat-paginator>
</div>


<ng-template #dataAvailable>



</ng-template>