<div class="container mt-5">
    <div class="display-6 mt-2">Leave Application Form</div>
    <form [formGroup]="leaveForm" (ngSubmit)="edit? onEdit() : onSubmit()">

      <mat-form-field class="w-100"  appearance="outline">
        <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-100"  appearance="outline">
        <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="w-100"  appearance="outline">
        <mat-label>Type Of Leave</mat-label>
        <mat-select formControlName="typeOfLeave"  class="mat-primary">
          <mat-option value="Casual Leave">Casual Leave</mat-option>
          <mat-option value="Sick Leave">Sick Leave</mat-option>
          <mat-option value="Loss of Pay">Loss of Pay</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100"  appearance="outline">
        <textarea matInput placeholder="Reason" formControlName="reason"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="leaveForm.invalid" class="me-1">{{edit? 'Edit Leave':'Apply Leave'}}</button>
      <button mat-raised-button color="primary" type="button" (click)="goBack()">Go Back</button>

    </form>
    

</div>


