<div class="container">
    <div class="row mt-5">
        <div class="col">
            <div class="display-1">
                Leave Management System
            </div>  

            <div class="row mt-3">
                <div class="col-md-8">
                    Streamline Leave Management with Ease<br>
                Welcome to our Leave Management System – the ultimate solution for effortless leave management. Say goodbye to paperwork and scheduling headaches. Our user-friendly platform empowers your team to submit, track, and approve leave requests seamlessly. Stay informed in real-time, optimize resource planning, and enjoy a hassle-free way to manage time off. Experience efficient leave management today.
                </div>
            </div>
                
             <a routerLink="/auth"><button class="btn btn-primary btn-sm mt-3">Login</button></a>
        </div>
    </div>
</div>