<mat-list>
  <a
    mat-list-item
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.list-item-active]="routerLinkActiveInstance.isActive"
    routerLink="/leaves"
    *ngIf="authService.isAuthenticated() || authService.isAdmin()"
    (click)="onSidenavClose()"
  >
    <div class="menuItem">
      <button mat-icon-button color="primary"><mat-icon>weekend</mat-icon></button> <span class="nav-caption">Leaves</span>
    </div>
  </a>

  <a
    mat-list-item
    routerLink="/users"
    routerLinkActive
    #routerLinkActiveInstance="routerLinkActive"
    [class.list-item-active]="routerLinkActiveInstance.isActive"    *ngIf="authService.isAdmin()"
    (click)="onSidenavClose()"
  >
    <div class="menuItem">
        <button mat-icon-button color="primary"><mat-icon>group</mat-icon></button> <span class="nav-caption">Users</span>
    </div>
  </a>

  <a
    mat-list-item
    routerLink="/holidays"
    routerLinkActive
    #routerLinkActiveInstance="routerLinkActive"
    [class.list-item-active]="routerLinkActiveInstance.isActive"    *ngIf="authService.isAdmin()"
    (click)="onSidenavClose()"
  >
    <div class="menuItem">
        <button mat-icon-button color="primary"><mat-icon>holiday_village</mat-icon
      ></button><span class="nav-caption">Holidays</span>
    </div>
  </a>

  <a
    mat-list-item
    routerLink="/"
        *ngIf="authService.isAuthenticated() || authService.isAdmin()"
    (click)="onSidenavClose()"
  >
    <div class="menuItem">
        <button mat-icon-button color="primary"><mat-icon>logout</mat-icon></button><span class="nav-caption">Logout</span>
    </div>
  </a>
</mat-list>
