a{
    text-decoration: none;
    color: white;
}
a:hover, a:active{
    color: lightgray;
}
.nav-caption{
    padding-left: 6px;
}


.menuItem { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-item-active {
    font-weight: bold;
    color: #bdbdbd !important;
    background: rgba(0, 0, 0, 0.04);
  }