<button (click)="checkLogin()">Check Auth</button>
<div class="d-flex flex-xl-row flex-column m-5">
    <div class="display-6">Holidays</div>
  
    <form [formGroup]="holidayForm" class="container" (ngSubmit)="enterToDatabase()">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label for="name">Name</mat-label>
        <input type="text" id="name" matInput formControlName="name">
      </mat-form-field>
    
    
      <mat-form-field class="w-100 mb-2" appearance="fill">
            <mat-label>Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    
    
      <mat-form-field class="w-100" appearance="fill">
        <mat-label for="typeOfHoliday">Type</mat-label>
        <mat-select id="typeOfHoliday" formControlName="typeOfHoliday">
          <mat-option value="COMPANY">Company</mat-option>
          <mat-option value="GOVERNMENT">Government</mat-option>
        </mat-select>
      </mat-form-field>
    <br>
      <button mat-raised-button color="primary" type="submit" [disabled]="this.holidayForm.invalid">Submit</button>
    </form>
  </div>
    